# 产品设计：“寻找世界上的另一个我”——相似面孔识别平台
- 根据不同年龄段、不同性别、不同国籍甚至不同时代的用户人脸识别信息，找出互相之间面貌相似的人，即“世界上的另一个我”，进而实现社交交友等功能。

### Azure

In [6]:
import requests
import json
from pandas.io.json import json_normalize
import pandas as pd

# set to your own subscription key value
subscription_key = '46aeaa93f6354c4eb041cf2993ac21d2'
assert subscription_key

# replace <My Endpoint String> with the string from your endpoint URL
face_api_url = 'https://westcentralus.api.cognitive.microsoft.com/face/v1.0/detect'

image_url = 'https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=3133513654,3008530545&fm=26&gp=0.jpg'

headers = {'Ocp-Apim-Subscription-Key': subscription_key}

params = {
    'returnFaceId': 'true',
    'returnFaceLandmarks': 'false',
    'returnFaceAttributes': 'age,gender,emotion',
}

r = requests.post(face_api_url, params=params,
                         headers=headers, json={"url": image_url})
print(json.dumps(r.json()))
results = r.json

[{"faceId": "73583023-2854-49d1-8231-bb5f39127d16", "faceRectangle": {"top": 73, "left": 63, "width": 78, "height": 78}, "faceAttributes": {"gender": "female", "age": 24.0, "emotion": {"anger": 0.0, "contempt": 0.0, "disgust": 0.0, "fear": 0.0, "happiness": 0.989, "neutral": 0.011, "sadness": 0.0, "surprise": 0.0}}}, {"faceId": "709ea6a7-c428-48aa-98d4-e931d0f26cf6", "faceRectangle": {"top": 67, "left": 140, "width": 72, "height": 72}, "faceAttributes": {"gender": "female", "age": 22.0, "emotion": {"anger": 0.0, "contempt": 0.0, "disgust": 0.0, "fear": 0.0, "happiness": 0.999, "neutral": 0.001, "sadness": 0.0, "surprise": 0.0}}}]

In [4]:
r.status_code

200

In [7]:
results = r.json()
results

[{'faceId': '73583023-2854-49d1-8231-bb5f39127d16',
  'faceRectangle': {'top': 73, 'left': 63, 'width': 78, 'height': 78},
  'faceAttributes': {'gender': 'female',
   'age': 24.0,
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 0.989,
    'neutral': 0.011,
    'sadness': 0.0,
    'surprise': 0.0}}},
 {'faceId': '709ea6a7-c428-48aa-98d4-e931d0f26cf6',
  'faceRectangle': {'top': 67, 'left': 140, 'width': 72, 'height': 72},
  'faceAttributes': {'gender': 'female',
   'age': 22.0,
   'emotion': {'anger': 0.0,
    'contempt': 0.0,
    'disgust': 0.0,
    'fear': 0.0,
    'happiness': 0.999,
    'neutral': 0.001,
    'sadness': 0.0,
    'surprise': 0.0}}}]

In [8]:
df = pd.io.json.json_normalize(results)
df

,faceAttributes.age,faceAttributes.emotion.anger,faceAttributes.emotion.contempt,faceAttributes.emotion.disgust,faceAttributes.emotion.fear,faceAttributes.emotion.happiness,faceAttributes.emotion.neutral,faceAttributes.emotion.sadness,faceAttributes.emotion.surprise,faceAttributes.gender,faceId,faceRectangle.height,faceRectangle.left,faceRectangle.top,faceRectangle.width
0,24.0,0.0,0.0,0.0,0.0,0.989,0.011,0.0,0.0,female,73583023-2854-49d1-8231-bb5f39127d16,78,63,73,78
1,22.0,0.0,0.0,0.0,0.0,0.999,0.001,0.0,0.0,female,709ea6a7-c428-48aa-98d4-e931d0f26cf6,72,140,67,72

## face++

In [17]:
import requests
from pandas.io.json import json_normalize
import pandas as pd

api_secret = "ufv5R1fyjJGHvDa5FeRt67AbP3ti7jqG"

api_key = 'o8bbWnUgFxjf2B-wylKXjeXGxu3sZF8C'

BASE_URL = 'https://api-cn.faceplusplus.com/facepp/v3/detect' 
image_url = 'https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=1148934299,774663263&fm=26&gp=0.jpg'

headers = {
    'Content-Type': 'application/json',
}

payload = {
    "image_url":image_url,
    'api_key': api_key,
    'api_secret': api_secret,
    'return_attributes':'age,gender,eyestatus', 
}

r = requests.post(BASE_URL, params=payload, headers=headers)

r.status_code
print(r.json())

{'request_id': '1585791905,7a35b59a-4c29-4207-be81-7f8475ed6552', 'time_used': 106, 'faces': [{'face_token': '25acb1d4dbbac1a014faa308e8f9bdd4', 'face_rectangle': {'top': 73, 'left': 336, 'width': 47, 'height': 47}, 'attributes': {'gender': {'value': 'Male'}, 'age': {'value': 27}, 'eyestatus': {'left_eye_status': {'no_glass_eye_open': 0.298, 'no_glass_eye_close': 0.001, 'normal_glass_eye_open': 94.48, 'normal_glass_eye_close': 0.452, 'dark_glasses': 4.768, 'occlusion': 0.002}, 'right_eye_status': {'no_glass_eye_open': 1.527, 'no_glass_eye_close': 0.0, 'normal_glass_eye_open': 98.367, 'normal_glass_eye_close': 0.008, 'dark_glasses': 0.079, 'occlusion': 0.019}}, 'glass': {'value': 'Normal'}}}, {'face_token': 'e9b1ea67f61c8af1908158504f9ac600', 'face_rectangle': {'top': 88, 'left': 166, 'width': 44, 'height': 44}, 'attributes': {'gender': {'value': 'Female'}, 'age': {'value': 27}, 'eyestatus': {'left_eye_status': {'no_glass_eye_open': 99.669, 'no_glass_eye_close': 0.076, 'normal_glass_eye_open': 0.212, 'normal_glass_eye_close': 0.014, 'dark_glasses': 0.0, 'occlusion': 0.029}, 'right_eye_status': {'no_glass_eye_open': 98.823, 'no_glass_eye_close': 0.011, 'normal_glass_eye_open': 1.15, 'normal_glass_eye_close': 0.007, 'dark_glasses': 0.0, 'occlusion': 0.009}}, 'glass': {'value': 'None'}}}, {'face_token': '8fd1956a8ecf753537c589639f0e0228', 'face_rectangle': {'top': 111, 'left': 248, 'width': 43, 'height': 43}, 'attributes': {'gender': {'value': 'Female'}, 'age': {'value': 37}, 'eyestatus': {'left_eye_status': {'no_glass_eye_open': 97.718, 'no_glass_eye_close': 0.0, 'normal_glass_eye_open': 2.277, 'normal_glass_eye_close': 0.002, 'dark_glasses': 0.0, 'occlusion': 0.002}, 'right_eye_status': {'no_glass_eye_open': 99.393, 'no_glass_eye_close': 0.0, 'normal_glass_eye_open': 0.596, 'normal_glass_eye_close': 0.001, 'dark_glasses': 0.0, 'occlusion': 0.009}}, 'glass': {'value': 'None'}}}], 'image_id': 'NmyAADxmMuPwyU1GEeRIzw==', 'face_num': 3}

In [18]:
results = r.json()
results['faces']

[{'face_token': '25acb1d4dbbac1a014faa308e8f9bdd4',
  'face_rectangle': {'top': 73, 'left': 336, 'width': 47, 'height': 47},
  'attributes': {'gender': {'value': 'Male'},
   'age': {'value': 27},
   'eyestatus': {'left_eye_status': {'no_glass_eye_open': 0.298,
     'no_glass_eye_close': 0.001,
     'normal_glass_eye_open': 94.48,
     'normal_glass_eye_close': 0.452,
     'dark_glasses': 4.768,
     'occlusion': 0.002},
    'right_eye_status': {'no_glass_eye_open': 1.527,
     'no_glass_eye_close': 0.0,
     'normal_glass_eye_open': 98.367,
     'normal_glass_eye_close': 0.008,
     'dark_glasses': 0.079,
     'occlusion': 0.019}},
   'glass': {'value': 'Normal'}}},
 {'face_token': 'e9b1ea67f61c8af1908158504f9ac600',
  'face_rectangle': {'top': 88, 'left': 166, 'width': 44, 'height': 44},
  'attributes': {'gender': {'value': 'Female'},
   'age': {'value': 27},
   'eyestatus': {'left_eye_status': {'no_glass_eye_open': 99.669,
     'no_glass_eye_close': 0.076,
     'normal_glass_eye_open': 0.212,
     'normal_glass_eye_close': 0.014,
     'dark_glasses': 0.0,
     'occlusion': 0.029},
    'right_eye_status': {'no_glass_eye_open': 98.823,
     'no_glass_eye_close': 0.011,
     'normal_glass_eye_open': 1.15,
     'normal_glass_eye_close': 0.007,
     'dark_glasses': 0.0,
     'occlusion': 0.009}},
   'glass': {'value': 'None'}}},
 {'face_token': '8fd1956a8ecf753537c589639f0e0228',
  'face_rectangle': {'top': 111, 'left': 248, 'width': 43, 'height': 43},
  'attributes': {'gender': {'value': 'Female'},
   'age': {'value': 37},
   'eyestatus': {'left_eye_status': {'no_glass_eye_open': 97.718,
     'no_glass_eye_close': 0.0,
     'normal_glass_eye_open': 2.277,
     'normal_glass_eye_close': 0.002,
     'dark_glasses': 0.0,
     'occlusion': 0.002},
    'right_eye_status': {'no_glass_eye_open': 99.393,
     'no_glass_eye_close': 0.0,
     'normal_glass_eye_open': 0.596,
     'normal_glass_eye_close': 0.001,
     'dark_glasses': 0.0,
     'occlusion': 0.009}},
   'glass': {'value': 'None'}}}]

In [22]:
df = pd.io.json.json_normalize(results['faces'])
df_attributes = df[['face_token','attributes.age.value','attributes.gender.value','attributes.glass.value']]
df_attributes

,face_token,attributes.age.value,attributes.gender.value,attributes.glass.value
0,25acb1d4dbbac1a014faa308e8f9bdd4,27,Male,Normal
1,e9b1ea67f61c8af1908158504f9ac600,27,Female,None
2,8fd1956a8ecf753537c589639f0e0228,37,Female,None

## 百度智能云

In [41]:
import requests 

# client_id 为官网获取的AK， client_secret 为官网获取的SK
host = 'https://aip.baidubce.com/oauth/2.0/token?grant_type=client_credentials&client_id=va34EXhAX6dhNtnG5LWKIByb&client_secret=mCKkhn8NTnR0ET4VVZWuAoKGlL0yxRjp'
response = requests.get(host)
if response:
    print(response.json())

{'refresh_token': '25.081039675b95d815cc0ee1932a5f47ce.315360000.1901158926.282335-19211995', 'expires_in': 2592000, 'session_key': '9mzdD0aOgcACaeRrQd1Cm/eQIlgIiKIybdZYMMam4koKNixa6o7UIiLh2wP9NnhHNSHo6vHY38YqQcy3l1ij/C6wZqeYtw==', 'access_token': '24.4b0a5ee94a32e13563f8b0f320d7294c.2592000.1588390926.282335-19211995', 'scope': 'public brain_all_scope vis-faceverify_faceverify_h5-face-liveness vis-faceverify_FACE_V3 vis-faceverify_idl_face_merge wise_adapt lebo_resource_base lightservice_public hetu_basic lightcms_map_poi kaidian_kaidian ApsMisTest_Test权限 vis-classify_flower lpq_开放 cop_helloScope ApsMis_fangdi_permission smartapp_snsapi_base iop_autocar oauth_tp_app smartapp_smart_game_openapi oauth_sessionkey smartapp_swanid_verify smartapp_opensource_openapi smartapp_opensource_recapi qatest_scope1 fake_face_detect_开放Scope vis-ocr_虚拟人物助理 idl-video_虚拟人物助理', 'session_secret': 'd187a712742c8d1e598cc4be631a3226'}

In [47]:
import requests

'''
人脸检测与属性分析
'''

request_url = "https://aip.baidubce.com/rest/2.0/face/v3/detect"

params = "{\"image\":\"https://ss0.bdstatic.com/70cFuHSh_Q1YnxGkpoWK1HF6hhy/it/u=3309265714,3411534634&fm=26&gp=0.jpg\",\"image_type\":\"URL\",\"face_field\":\"age,gender,glasses,landmark\"}"
access_token = '24.4b0a5ee94a32e13563f8b0f320d7294c.2592000.1588390926.282335-19211995'
request_url = request_url + "?access_token=" + access_token
headers = {'content-type': 'application/json'}
response = requests.post(request_url, data=params, headers=headers)
if response:
    print (response.json())

{'error_code': 0, 'error_msg': 'SUCCESS', 'log_id': 1019415797555, 'timestamp': 1585806773, 'cached': 0, 'result': {'face_num': 1, 'face_list': [{'face_token': '1d4eb16e40ee2ec1e8661a48968bdcef', 'location': {'left': 47.28, 'top': 120.18, 'width': 174, 'height': 158, 'rotation': 0}, 'face_probability': 1, 'angle': {'yaw': 8.04, 'pitch': 5.47, 'roll': -3.27}, 'age': 27, 'gender': {'type': 'female', 'probability': 1}, 'glasses': {'type': 'none', 'probability': 1}, 'landmark': [{'x': 87.58, 'y': 142.2}, {'x': 163.88, 'y': 140.85}, {'x': 119.22, 'y': 181.62}, {'x': 123.56, 'y': 222.71}], 'landmark72': [{'x': 47.38, 'y': 146.8}, {'x': 49.4, 'y': 171.99}, {'x': 53.6, 'y': 197.58}, {'x': 59.63, 'y': 222.99}, {'x': 74.59, 'y': 248.42}, {'x': 98.56, 'y': 268.99}, {'x': 124.32, 'y': 277.1}, {'x': 152.92, 'y': 272.09}, {'x': 182.55, 'y': 255.61}, {'x': 205.12, 'y': 228.62}, {'x': 213.62, 'y': 200.26}, {'x': 218.85, 'y': 172.06}, {'x': 222.04, 'y': 143.72}, {'x': 69.08, 'y': 145.32}, {'x': 76.65, 'y': 138.79}, {'x': 85.48, 'y': 136.6}, {'x': 94.97, 'y': 138.72}, {'x': 103.11, 'y': 146.9}, {'x': 94.54, 'y': 148.38}, {'x': 85.17, 'y': 149.48}, {'x': 76.13, 'y': 148.28}, {'x': 87.58, 'y': 142.2}, {'x': 55.7, 'y': 132.16}, {'x': 66.01, 'y': 121.34}, {'x': 79.14, 'y': 120.08}, {'x': 91.99, 'y': 121.74}, {'x': 103.88, 'y': 129.98}, {'x': 91.33, 'y': 129.26}, {'x': 78.72, 'y': 128.31}, {'x': 66.66, 'y': 129.01}, {'x': 145.58, 'y': 146.07}, {'x': 153.34, 'y': 138}, {'x': 162.45, 'y': 135.3}, {'x': 172.1, 'y': 137.14}, {'x': 181.13, 'y': 143.46}, {'x': 173.3, 'y': 146.53}, {'x': 163.49, 'y': 147.97}, {'x': 154.02, 'y': 147.27}, {'x': 163.88, 'y': 140.85}, {'x': 139.55, 'y': 128.89}, {'x': 152.3, 'y': 120.07}, {'x': 166.24, 'y': 118.02}, {'x': 181.25, 'y': 118.95}, {'x': 195.17, 'y': 129.56}, {'x': 181.05, 'y': 126.42}, {'x': 166.87, 'y': 126.48}, {'x': 153.16, 'y': 127.97}, {'x': 111.77, 'y': 147.42}, {'x': 109.17, 'y': 161.21}, {'x': 106.32, 'y': 175.23}, {'x': 102.22, 'y': 191.15}, {'x': 111.04, 'y': 191.39}, {'x': 132.63, 'y': 190.64}, {'x': 144.42, 'y': 189.94}, {'x': 138.67, 'y': 174.32}, {'x': 135.97, 'y': 160.74}, {'x': 133.4, 'y': 147.04}, {'x': 119.22, 'y': 181.62}, {'x': 95.5, 'y': 221.89}, {'x': 106.69, 'y': 213.25}, {'x': 122.31, 'y': 212.03}, {'x': 140.01, 'y': 213.01}, {'x': 156.01, 'y': 221.69}, {'x': 141.41, 'y': 232.86}, {'x': 122.71, 'y': 237.08}, {'x': 105.94, 'y': 232.66}, {'x': 107.95, 'y': 219.26}, {'x': 122.4, 'y': 218.88}, {'x': 139.14, 'y': 218.91}, {'x': 138.73, 'y': 225.01}, {'x': 122.62, 'y': 226.32}, {'x': 108.46, 'y': 225.11}]}]}}

In [61]:
results=response.json()
r=results['result']
s=r['face_list']
s

[{'face_token': '1d4eb16e40ee2ec1e8661a48968bdcef',
  'location': {'left': 47.28,
   'top': 120.18,
   'width': 174,
   'height': 158,
   'rotation': 0},
  'face_probability': 1,
  'angle': {'yaw': 8.04, 'pitch': 5.47, 'roll': -3.27},
  'age': 27,
  'gender': {'type': 'female', 'probability': 1},
  'glasses': {'type': 'none', 'probability': 1},
  'landmark': [{'x': 87.58, 'y': 142.2},
   {'x': 163.88, 'y': 140.85},
   {'x': 119.22, 'y': 181.62},
   {'x': 123.56, 'y': 222.71}],
  'landmark72': [{'x': 47.38, 'y': 146.8},
   {'x': 49.4, 'y': 171.99},
   {'x': 53.6, 'y': 197.58},
   {'x': 59.63, 'y': 222.99},
   {'x': 74.59, 'y': 248.42},
   {'x': 98.56, 'y': 268.99},
   {'x': 124.32, 'y': 277.1},
   {'x': 152.92, 'y': 272.09},
   {'x': 182.55, 'y': 255.61},
   {'x': 205.12, 'y': 228.62},
   {'x': 213.62, 'y': 200.26},
   {'x': 218.85, 'y': 172.06},
   {'x': 222.04, 'y': 143.72},
   {'x': 69.08, 'y': 145.32},
   {'x': 76.65, 'y': 138.79},
   {'x': 85.48, 'y': 136.6},
   {'x': 94.97, 'y': 138.72},
   {'x': 103.11, 'y': 146.9},
   {'x': 94.54, 'y': 148.38},
   {'x': 85.17, 'y': 149.48},
   {'x': 76.13, 'y': 148.28},
   {'x': 87.58, 'y': 142.2},
   {'x': 55.7, 'y': 132.16},
   {'x': 66.01, 'y': 121.34},
   {'x': 79.14, 'y': 120.08},
   {'x': 91.99, 'y': 121.74},
   {'x': 103.88, 'y': 129.98},
   {'x': 91.33, 'y': 129.26},
   {'x': 78.72, 'y': 128.31},
   {'x': 66.66, 'y': 129.01},
   {'x': 145.58, 'y': 146.07},
   {'x': 153.34, 'y': 138},
   {'x': 162.45, 'y': 135.3},
   {'x': 172.1, 'y': 137.14},
   {'x': 181.13, 'y': 143.46},
   {'x': 173.3, 'y': 146.53},
   {'x': 163.49, 'y': 147.97},
   {'x': 154.02, 'y': 147.27},
   {'x': 163.88, 'y': 140.85},
   {'x': 139.55, 'y': 128.89},
   {'x': 152.3, 'y': 120.07},
   {'x': 166.24, 'y': 118.02},
   {'x': 181.25, 'y': 118.95},
   {'x': 195.17, 'y': 129.56},
   {'x': 181.05, 'y': 126.42},
   {'x': 166.87, 'y': 126.48},
   {'x': 153.16, 'y': 127.97},
   {'x': 111.77, 'y': 147.42},
   {'x': 109.17, 'y': 161.21},
   {'x': 106.32, 'y': 175.23},
   {'x': 102.22, 'y': 191.15},
   {'x': 111.04, 'y': 191.39},
   {'x': 132.63, 'y': 190.64},
   {'x': 144.42, 'y': 189.94},
   {'x': 138.67, 'y': 174.32},
   {'x': 135.97, 'y': 160.74},
   {'x': 133.4, 'y': 147.04},
   {'x': 119.22, 'y': 181.62},
   {'x': 95.5, 'y': 221.89},
   {'x': 106.69, 'y': 213.25},
   {'x': 122.31, 'y': 212.03},
   {'x': 140.01, 'y': 213.01},
   {'x': 156.01, 'y': 221.69},
   {'x': 141.41, 'y': 232.86},
   {'x': 122.71, 'y': 237.08},
   {'x': 105.94, 'y': 232.66},
   {'x': 107.95, 'y': 219.26},
   {'x': 122.4, 'y': 218.88},
   {'x': 139.14, 'y': 218.91},
   {'x': 138.73, 'y': 225.01},
   {'x': 122.62, 'y': 226.32},
   {'x': 108.46, 'y': 225.11}]}]

In [67]:
df = pd.io.json.json_normalize(r['face_list'])

In [69]:
df

,age,angle.pitch,angle.roll,angle.yaw,face_probability,face_token,gender.probability,gender.type,glasses.probability,glasses.type,landmark,landmark72,location.height,location.left,location.rotation,location.top,location.width
0,27,5.47,-3.27,8.04,1,1d4eb16e40ee2ec1e8661a48968bdcef,1,female,1,none,"[{'x': 87.58, 'y': 142.2}, {'x': 163.88, 'y': ...","[{'x': 47.38, 'y': 146.8}, {'x': 49.4, 'y': 17...",158,47.28,0,120.18,174

In [70]:
show_attributes=df[['age','gender.type','glasses.type']]
show_attributes

   age gender.type glasses.type
0   27      female         none